@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800;900&display=swap');

*, 
*::after, 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Header */
header {
    background-color: #353637;
    color: #ffffff;
    padding: 1rem;
    min-height: 2rem;
    border-bottom: 5px solid #32a0c2;
    cursor: pointer;
}

header li {
    float: left;
    display: inline;
    padding: 0 1.5rem;
}

header .branding{
    float: left;
}

header .branding h1 {
    margin: 0;
    font-size: 1.5rem;
}

header nav{
    float: right;
    margin-top: 0.4rem;
}

header nav ul li a {
    color: #cccccc;
    font-weight: bold;
    text-decoration: none;
}

header nav ul li a.active {
    color: #32a0c2;
    font-weight: bold;
}

header nav ul li a:hover {
    color: #32a0c2;
    font-weight: bold;
}
/* Header end */

/* Main start */
.main {
    margin: 2rem 0;
}

.main .blue {
    background-color: #32a0c2;
    padding: 1rem;
    margin-bottom: 1rem;
}

.main .container .main-col {
    float: left;
    width: 65%;
}

.main .container .main-col h1 {
    padding: 5px 0;
    margin-bottom: 0.8rem;
}

.main .container .main-col p {
    padding-bottom: 1rem;
}

.main .sidebar {
    float: right;
    width: 30%;
}

.main .sidebar h1 {
    margin: 1rem 0;
}
/* Main end */

/* Footer start */
footer {
    padding: 1.5rem;
    margin-top: 1rem;
    color: #fff;
    background-color: #32a0c2;
    text-align: center;
    font-size: 1rem;
}
/* Footer end */