@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800;900&display=swap');

*, 
*::after, 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Header start */
header {
    background-color: #353637;
    color: #ffffff;
    padding: 1rem;
    min-height: 2rem;
    border-bottom: 5px solid #32a0c2;
    cursor: pointer;
}

header li {
    float: left;
    display: inline;
    padding: 0 1.5rem;
}

header .branding{
    float: left;
}

header .branding h1 {
    margin: 0;
    font-size: 1.5rem;
}

header nav{
    float: right;
    margin-top: 0.4rem;
}

header nav ul li a {
    color: #cccccc;
    font-weight: bold;
    text-decoration: none;
}

header nav ul li a.active {
    color: #32a0c2;
    font-weight: bold;
}

header nav ul li a:hover {
    color: #32a0c2;
    font-weight: bold;
}
/*Header end */

/*Showcase start*/
.showcase {
    margin: 0;
    min-height: 23rem;
    background: url(../images/web\ dev-NEW.jpg) no-repeat center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.showcase h1 {
    margin-top: 5rem;
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.showcase p {
    font-size: 1rem;
    line-height: 1.6rem;
    text-align: center;
}
/*Showcase end*/

/*Newsletter start*/
.news-letter {
    padding: 1.2rem;
    color: #fff;
    background-color: #353637;
}

.news-letter h2 {
    float: left;
    font-size: 21px;
}

.news-letter form {
    float: right;
    margin-top: 0.1rem;
}

.news-letter input[type = "email"] {
    padding: 0.4rem;
    height: 1.8rem;
    width: 16rem;
    border: 0;
}

.news-letter input[type = "email"]:focus {
    outline: none;
}

.news-letter .btn {
    background-color: #32a0c2;
    border-color: #32a0c2;
    color: #fff;
    font-size: small;
    padding: 0.3rem;
    cursor: pointer;
}
/*Newsletter end*/

/*cards/boxes start*/
.cards {
    padding: 1rem 0 1rem 0;
    margin: 1.5rem 0;
}

.cards .container{
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 85%;
}

.cards .container .card {
    width: 60%;
    margin: 0;
    padding: 0 0.5rem;
}

.cards .container .card i {
    color: #32a0c2;
    padding-bottom: 1rem;
}

.cards .container .card h3 {
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

.cards .container .card p {
    padding-bottom: 1rem;
    font-size: 0.8rem;
}
/*cards/boxes start*/

/*footer start*/
footer {
    padding: 1.5rem;
    margin-top: 1rem;
    color: #fff;
    background-color: #32a0c2;
    text-align: center;
    font-size: 1rem;
}
/*footer end*/

/* Responsiveness */
@media (max-width: 768px) {
    header .branding,
    header nav,
    header nav li {
        float: none;
        text-align: center;
        width: 100%;
    }
    .showcase h1 {
        margin-top: 4rem;
        font-size: 2rem;
    }
    .showcase p {
        font-size: 1.2rem;
    }
    .news-letter h2,
    .news-letter form {
        display: block;
        float: none;
        width: 100%;
        text-align: center;
        margin-bottom: 1rem;
    }
    .news-letter form button {
        margin-top: 1rem;
    }
    .cards .container{
        width: 100%;
        flex-wrap: wrap;
    }
    .cards .container .card{
        margin: auto;
    }
}